md-progress-circular.prezi__loader.md-accent(md-diameter="100")
.main-view__inner.center.prezi__iframe-container(layout="column" flex)
	iframe(id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="{{prezi.width}}" height="{{prezi.height}}" src="{{prezi.src}}")