md-toolbar(layout="row" flex)
	.md-toolbar-tools
		a(ui-sref="{{item.state}}" ng-repeat="item in navBarItems")
			md-button(class="md-raised" ng-class="{active: isActiveLink}") {{item.label}}

ui-view(layout="column" flex)