.main-view__inner.center(layout="column" flex)
	md-card.about__card
		md-card-content
			p.
				Card contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard content