.main-view__inner.center(layout="column" flex)
	md-card.about__card
		md-card-content
			p.
				Дана ОП розроблена в рамках курсу "Комп`ютерні навчальні системи" під керівництвом Польшакова О.М.
			p.
				Програма містить навчальні матеріали, презентацію та тестові завдання. 
			h3 Автори:
			ul 
				li Дмитро Рудницьких
				li Олег Ступніков
				li Роберт Медвецький
			h3 
				a(href="//rudnitskih.github.io/kos/") Репозиторій проекту
			divider
				h4(style="text-align: center") 2016
				