
<div layout="column" flex="flex" class="main-view__inner center">
  <md-card class="about__card">
    <md-card-content>
      <p>Card contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard contentCard content</p>
    </md-card-content>
  </md-card>
</div>