
<div layout="column" flex="flex" class="main-view__inner center">
  <md-card class="about__card">
    <md-card-content>
      <p>Дана ОП розроблена в рамках курсу "Комп`ютерні навчальні системи" під керівництвом Польшакова О.М.</p>
      <p>Програма містить навчальні матеріали, презентацію та тестові завдання. </p>
      <h3>Автори:</h3>
      <ul> 
        <li>Дмитро Рудницьких</li>
        <li>Олег Ступніков</li>
        <li>Роберт Медвецький</li>
      </ul>
      <h3> <a href="//rudnitskih.github.io/kos/">Репозиторій проекту</a></h3>
      <divider>
        <h4 style="text-align: center">2016</h4>
      </divider>
    </md-card-content>
  </md-card>
</div>