
<div layout="row" flex="flex">
  <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="lections__sidenav md-sidenav-left">
    <md-content>
      <md-list>
        <md-list-item ng-repeat="item in menu"><a ui-sref="r.lections({id: $index + 1})" ng-class="{active: isActiveLink($index)}" class="lections__link md-button">
            <md-item-content md-ink-ripple="md-ink-ripple">
              <div class="inset lections__link-label">{{item.title}}</div>
            </md-item-content></a></md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div layout="column" flex="flex" class="lections__content">
    <md-content class="lections__iframe-container">
      <iframe ng-src="{{contentFile}}" width="800" height="700px"></iframe>
    </md-content>
  </div>
</div>